[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.6"

[packages]
tensorflow = "==1.15.2"
pandas = "*"
